<html>
  <head>
 	 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/dash.css">

  </head>
  <body>
	  
	  <div class="area">
	  	<div class="home" id="js-Home">
			<p>hello guys this is our first page</p>  
		</div>
		<div class="ThingSpeak" id="js-ThingSpeak"> 
			<p>in this page it's gonna be showed ThingSpeak diagram</p>  
		</div>
		<div class="YourAccount" id="js-YourAccount">
			<p> in this part we gonna show your members and group name</p>
		</div>
		<div class="aboutus" id="js-aboutus">
		  <h1>About us</h1>
		  	<p>About us </p>
		</div>
	  
	  </div>
	  <nav class="main-menu">
            <ul>
                <li>
                    <a href="#" onclick="Home()">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#" onclick="ThingSpeak()">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            ThingSpeak
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#" onclick="YourAccount()">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Your Account
                        </span>
                    </a>
                    
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                
            </ul>

            <ul class="logout">
				<li>
                    <a href="#" onclick="AboutUs()">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            About us
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
	  
	  <script src="./javascripts/dashjs.js"></script>
  </body>
    </html>