<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
    background-image: url("images/temp.jpg");
    background-size :100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    text-align: center;
    border-radius: 2px;
    position: relative;
}

.card h1 {
    color: black;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-top: 55px;
}

.card p:first-of-type {
    font-size: 20px;
    padding: 0;
    color: balck;
    width: 75%;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 45px;
}

.loading-wrapper {
    background: #9f9ec19c;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.loading {
    width: 40px;
    height: 40px;
    border: 5px solid #d2d3d8;
    border-radius: 50%;
    border-right-color: #17ca85;
    border-bottom-color: #17ca85;
    animation-name: rotate;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.btn {
    display: block;
    color: white;
    background-color: #0a144d;
    padding-top: 10px;
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
}
.btn:active {
    background-color: #393f7a;
}
form {
    width: 75%;
    margin: 0 auto;
}
.card input {
    border: 0;
}
.card input:focus {
    outline: none;
}
.input {
    position: relative;
    border-radius: 2px;
    border-bottom: 1px solid gray;
    color: gray;
    max-width: 300px;
    margin: 15px auto;
    display: flex;
    max-width: 360px;
}
.input input {
    flex-grow: 1;
    padding: 10px 0;
}
.input label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: gray;
    transition: all .3s;
    pointer-events: none;
}
.input input:valid+label {
    top: 5px;
    left: -80px;
    transform: scale(.8);
}
.input input:focus+label {
    top: 5px;
    left: -80px;
    transform: scale(.8);
}
.checkBox {
    margin-right: 116px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.check {
    margin-top: 20px;
}
.check a {
    text-decoration: none;
}
.account {
    margin-left: 100px;
    margin-top: 35px;
}
.btn2 {
    margin-left: 10px;
    background-color: white;
    padding-top: 10px;
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    font-size: 20px;
    border: solid #0a144d;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.input input:valid~.input-validation::after {
    position: absolute;
    left: 330px;
    top: -5px;
    content: "✓";
    color: white;
    border: 1px solid #1dcc1d;
    background-color: #1dcc1d;
    border-radius: 20px;
    padding: 2px 6px;
    transform: scale(.7);
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(1turn);
    }
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="./login.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>LOGIN</title>

</head>

<body>
    <div class="card">
        <div class="loading-wrapper">
            <div class="loading"></div>
        </div>
        <h1>WELCOME</h1>
        <p>Hello there!Log in in to start shopping & manage your wardrobe.</p>
        <form>
            <div class="input">
                <input type="text" id="GroupName" required>
                <label for="GroupName">Group Name</label>
                <label for="GroupName" class="input-validation"></label>
            </div>

            <div class="input">
                <input type="password" id="password" required>
                <label for="password">Password</label>
            </div>

            <div class="check">
                <label class="checkBox">
                <input type="checkbox">Reveal Password</label>
                <a href="./signup2.html">Forgot Password?</a>

            </div>

            <button class = "btn" id = "btn" type = "submit" formmethod = "POST" > LOG IN  </button>
            <!-- <a class="btn" id="btn">LOG IN</a> -->

        </form>
        <div class="account">
            <p>Don't have an account?<a class="btn2" id="btn2">Get Started</a></p>
        </div>
        <script src="/javascripts/login.js"></script>
</body>

</html>