<!DOCTYPE html>

<html>
    <head>
			<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
			<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
        <style>
        body {
	background-image: url('images/bckground.png');
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

div.main {
	padding: 20px;
	background-color: white;
	text-align: center;
	border-radius: 2px;
	box-shadow: 1px 1px 17px 3px #2b2b2b8f;
	width: 80vh;
	padding-bottom: 10px;
}

div.main1 {
	position: relative;
	padding: 40px 50px;
	padding-bottom: 10px;
}


.main h1 {
	color: ;
	margin-bottom: 14px;
	font-weight: 700;
	margin-bottom: 50px;

}

.main p.d

/*:first-of-type*/
	{
	color: #bababa;
	font-size: 14px;
	width: 75%;
	margin: 10px auto;
	margin-bottom: 30px;
}

.main input {
	border: 0;

}

.main input:focus {
	outline: none;
}

.input-group {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 2px;
	color: #e5e5e5;
	max-width: 300px;
	margin: 10px auto;
	display: flex;
	align-items: center;
	padding: 10px;
}

.input-group input {
	flex-grow: 1;
	padding-left: 5px;
}

label {
	position: absolute;
	top: 5px;
	left: 5px;
	transition: all .3s;
	pointer-events: none;
}

/*label.check {
	position: absolute;
	left: 300px;
	color: green;
	pointer-events: none;
	visibility: hidden;
}
*/

.input-group input:focus + label {
	top: -5px;
	left: -75px;
	background-color: white;
	padding: 5px;
	transform: scale(.8)
}

.input-group input:valid + label {
	top: -5px;
	left: -75px;
	background-color: white;
	padding: 5px;
	transform: scale(.8);
}

.input-group input:valid ~ .input-validation::after {
	position: absolute;
	left: 298px;
	top:-1px;
    content: "✓";
    color: white;
	border: 1px solid #1dcc1d;
	background-color: #1dcc1d;
	border-radius: 20px;
	padding: 2px 6px;
	transform: scale(.7);
}
/*.input-group input:focus + .check {
	position: absolute;
	display: contents;
	left: 100px;
	color: green;
	pointer-events: none;

}
*/
.Addmember {
	color: #bababa;
	margin-right: 200px;
	cursor: pointer;
}

.reveal {
	color: #bababa;
	margin-right: 200px;
	margin-bottom: 10px;
}

.main a#afirst {
	max-width: 300px;
	display: block;
	background-color: #efae1d;
	color: darkgoldenrod;
	padding: 8px;
	margin: auto;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 50px;

}

.plus{
	color: green;
}
.Login {
	color: #bababa;
	font-size: 14px;
	width: 75%;
	margin: 10px auto;
}

.login {
	text-decoration: none;
	color: black;
	margin-left: 10px;
	border: 1px solid black;

	padding: 5px 15px;
}


.loading-wrapper{
	background-color: #ffffffe3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.loading{
	width: 40px;
	height: 40px;
	border: 6px solid #e8e8e8;
	border-radius: 50%;
	border-bottom-color: #19d219;
	border-right-color: #19d219;
	animation-name: rotate;
	animation-duration: 1200ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes rotate{
	0%{
		transform: rotate(0)
	}
	100%{
		transform: rotate(1turn);
	}
}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="./signUp.css">

        <title>signUp</title>
		
    </head>
    <body>
		
        <div class="main">
			
			
            <div class="main1">
				
				
                <h1 style="margin-bottom:20px; letter-spacing: 2px">Welcome</h1>
                <p class="d">hello there sign up to start ...</p>

                <form id="form" action = "/Signup" method = "POST">
                    <div class="input-group">
                        <input name = groupName type="text" id="groupname" class="js-groupNameInput"; required>
                        <label for="groupname">groupname</label>
						<label for="groupname" class="input-validation"></label>
                    </div>
                    
                    <div class="input-group">
                        <input type="text" id="thingSpeak" class="js-thingSpeakInput"; required>
                        <label for="thingSpeak">thingSpeak</label>
						<label for="thingSpeak" class="input-validation "></label>
                    </div>  
					<div class="input-group" id="0" name = "mem0">
                        <input type="text"  class="js-memoryInput"; required>
                        <label for="memberInput">Member</label>
						<label for="memberInput" class="input-validation "></label>
                    </div>
                    
                     <div class="input-group">
                        <input name = gppassword type="password" id="password" class="js-passwordInput" required>
                        <label for="password">Password</label>
                    </div>
                    
                    <div class="input-group">
                        <input type="password" id="rePassword" class="signUp-confirmPasswordInput js-confirmPasswordInput" required>
                        <label for="rePassword">rePassword</label>
                    </div>
                    <div class="Addmember" id="adding" >
					<span onclick="adding()"><i class="fas fa-plus-square plus" ></i>  Add member</span>
					</div><br>
					<div class="reveal">
						<input type="checkbox" ><small>reveal password</small> <br></div>
                    <button type = "submit" formmethod="POST" > SIGN UP  </button>
                </form>
                
                <p class="Login">already have an account! <a class="login" href="">login</a>  </p>
				
            </div>
			<div class="loading-wrapper">
				<div class="loading"></div>	
			</div>
		</div>
	
		<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
		<script src ="javascripts/signupfront.js">
		</script>
	
    </body>

</html>